body {
  background: linear-gradient(to right, #800080, #101010);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

form.d-flex {
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
}

form input.form-control {
  border-radius: 8px;
  border: 1px solid #ced4da;
  padding: 10px;
}

form button.btn {
  border-radius: 8px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

form button.btn:hover {
  background-color: #0b5ed7;
}

.card {
  position: relative;
  border: none;
  border-radius: 15px;
  padding: 3px; /* espaço para a borda gradiente */
  background: linear-gradient(135deg, #b621fe, #ff6ec4); /* gradiente roxo-rosa */
}

.card > .card-body,
.card > img {
  border-radius: 12px;
}

/* Cria o efeito de "borda interna" */
.card::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  padding: 2px;
  background: linear-gradient(135deg, #b621fe, #ff6ec4);
  border-radius: 15px;
  z-index: -1;
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
}


.card:hover {
  transform: translate
 }


.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

/* 15 */
.btn-15 {
  background: #b621fe;
  border: none;
  z-index: 1;
}
.btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #663dff;
  border-radius: 5px;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}
.btn-15:hover {
  color: #fff;
}
.btn-15:hover:after {
  left: 0;
  width: 100%;
}
.btn-15:active {
  top: 2px;
}
